<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>537247403346-p98of6jbgsf6dl7reg9251sd40hngsht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.537247403346-p98of6jbgsf6dl7reg9251sd40hngsht</string>
	<key>API_KEY</key>
	<string>AIzaSyAfHDqzRXDp8QULPcdvEsI90WZ8z07l3G4</string>
	<key>GCM_SENDER_ID</key>
	<string>537247403346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anshuvij.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-13-9a971</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-13-9a971.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:537247403346:ios:759a4e079a8f3301f17e8b</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios-13-9a971.firebaseio.com</string>
</dict>
</plist>